h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
table{
    border-collapse: collapse;
}
button{
    align-items: center;
}